html{background-color: #333;font-size: 12px;}
body{padding: 0;margin: 0;}

.folder-name,
.file{display: block;padding: 3px 10px 3px 30px;cursor: pointer;}
.file{background: url(pic/file.png) no-repeat 10px 50%;}
.folder-content{margin:0 0 0 15px;padding: 0 0 0 5px;border-left: 1px dotted #ddd;}

.folder-open .folder-name,
.folder-close .folder-name{
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.folder-close .folder-content{display: none;}

.no-select{
	-moz-user-select: none;  
	-webkit-user-select: none;  
	-ms-user-select: none;
}